<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Delivery Daniil | Login Page</title>
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="icon" href="../../../svg/favicon-32x32.png" />
  </head>
  <body>
    <div class="overlay"></div>
    <div
      class="terms-and-conditions-container-hidden"
      id="terms-and-conditions-container-id"
    >
      <div class="terms-and-conditions-wrapper">
        <div class="terms-and-conditions-inner-top">
          <p class="terms-and-conditions-headling">Terms and Conditions</p>
          <p class="terms-and-conditions-headling-h2">Your Agreement</p>
          <p class="terms-and-conditions-paragraph">
            Last Revised: December 16,
            <br />
            2013 Welcome to www.lorem-ipsum.info. This site is provided as a
            service to our visitors and may be used for informational purposes
            only. Because the Terms and Conditions contain legal obligations,
            please read them carefully.
            <br />
            1. YOUR AGREEMENT
            <br />
            By using this Site, you agree to be bound by, and to comply with,
            these Terms and Conditions. If you do not agree to these Terms and
            Conditions, please do not use this site.
            <br />
            PLEASE NOTE: We reserve the right, at our sole discretion, to
            change, modify or otherwise alter these Terms and Conditions at any
            time. Unless otherwise indicated, amendments will become effective
            immediately. Please review these Terms and Conditions periodically.
            Your continued use of the Site following the posting of changes
            and/or modifications will constitute your acceptance of the revised
            Terms and Conditions and the reasonableness of these standards for
            notice of changes. For your information, this page was last updated
            as of the date at the top of these terms and conditions.
            <br />
            2. PRIVACY
            <br />
            Please review our Privacy Policy, which also governs your visit to
            this Site, to understand our practices.
            <br />
            3. LINKED SITES
            <br />
            This Site may contain links to other independent third-party Web
            sites ("Linked Sites”). These Linked Sites are provided solely as a
            convenience to our visitors. Such Linked Sites are not under our
            control, and we are not responsible for and does not endorse the
            content of such Linked Sites, including any information or materials
            contained on such Linked Sites. You will need to make your own
            independent judgment regarding your interaction with these Linked
            Sites.
            <br />
            4. FORWARD LOOKING STATEMENTS
            <br />
            All materials reproduced on this site speak as of the original date
            of publication or filing. The fact that a document is available on
            this site does not mean that the information contained in such
            document has not been modified or superseded by events or by a
            subsequent document or filing. We have no duty or policy to update
            any information or statements contained on this site and, therefore,
            such information or statements should not be relied upon as being
            current as of the date you access this site.
            <br />
            5. DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY
            <br />
            A. THIS SITE MAY CONTAIN INACCURACIES AND TYPOGRAPHICAL ERRORS. WE
            DOES NOT WARRANT THE ACCURACY OR COMPLETENESS OF THE MATERIALS OR
            THE RELIABILITY OF ANY ADVICE, OPINION, STATEMENT OR OTHER
            INFORMATION DISPLAYED OR DISTRIBUTED THROUGH THE SITE. YOU EXPRESSLY
            UNDERSTAND AND AGREE THAT: (i) YOUR USE OF THE SITE, INCLUDING ANY
            RELIANCE ON ANY SUCH OPINION, ADVICE, STATEMENT, MEMORANDUM, OR
            INFORMATION CONTAINED HEREIN, SHALL BE AT YOUR SOLE RISK; (ii) THE
            SITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS; (iii)
            EXCEPT AS EXPRESSLY PROVIDED HEREIN WE DISCLAIM ALL WARRANTIES OF
            ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO
            IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
            PURPOSE, WORKMANLIKE EFFORT, TITLE AND NON-INFRINGEMENT; (iv) WE
            MAKE NO WARRANTY WITH RESPECT TO THE RESULTS THAT MAY BE OBTAINED
            FROM THIS SITE, THE PRODUCTS OR SERVICES ADVERTISED OR OFFERED OR
            MERCHANTS INVOLVED; (v) ANY MATERIAL DOWNLOADED OR OTHERWISE
            OBTAINED THROUGH THE USE OF THE SITE IS DONE AT YOUR OWN DISCRETION
            AND RISK; and (vi) YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO
            YOUR COMPUTER SYSTEM OR FOR ANY LOSS OF DATA THAT RESULTS FROM THE
            DOWNLOAD OF ANY SUCH MATERIAL.
            <br />
            B. YOU UNDERSTAND AND AGREE THAT UNDER NO CIRCUMSTANCES, INCLUDING,
            BUT NOT LIMITED TO, NEGLIGENCE, SHALL WE BE LIABLE FOR ANY DIRECT,
            INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES
            THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, ANY OF OUR
            SITES OR MATERIALS OR FUNCTIONS ON ANY SUCH SITE, EVEN IF WE HAVE
            BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING
            LIMITATIONS SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL
            PURPOSE OF ANY LIMITED REMEDY.
            <br />
            6. EXCLUSIONS AND LIMITATIONS
            <br />
            SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES
            OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR
            CONSEQUENTIAL DAMAGES. ACCORDINGLY, OUR LIABILITY IN SUCH
            JURISDICTION SHALL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY
            LAW.
            <br />
            7. OUR PROPRIETARY RIGHTS
            <br />
            This Site and all its Contents are intended solely for personal,
            non-commercial use. Except as expressly provided, nothing within the
            Site shall be construed as conferring any license under our or any
            third party's intellectual property rights, whether by estoppel,
            implication, waiver, or otherwise. Without limiting the generality
            of the foregoing, you acknowledge and agree that all content
            available through and used to operate the Site and its services is
            protected by copyright, trademark, patent, or other proprietary
            rights. You agree not to: (a) modify, alter, or deface any of the
            trademarks, service marks, trade dress (collectively "Trademarks")
            or other intellectual property made available by us in connection
            with the Site; (b) hold yourself out as in any way sponsored by,
            affiliated with, or endorsed by us, or any of our affiliates or
            service providers; (c) use any of the Trademarks or other content
            accessible through the Site for any purpose other than the purpose
            for which we have made it available to you; (d) defame or disparage
            us, our Trademarks, or any aspect of the Site; and (e) adapt,
            translate, modify, decompile, disassemble, or reverse engineer the
            Site or any software or programs used in connection with it or its
            products and services. The framing, mirroring, scraping or data
            mining of the Site or any of its content in any form and by any
            method is expressly prohibited.
          </p>
        </div>
      </div>
      <div class="terms-and-conditions-bottom">
        <div class="terms-and-conditions-btns">
          <button
            class="terms-and-conditions-btn terms-and-conditions-btn--cancel"
            onclick="closeTermsAndConditionsPanel()"
          >
            Cancel
          </button>
          <button
            class="terms-and-conditions-btn terms-and-conditions-btn--agree"
            onclick="closeTermsAndConditionsPanel()"
          >
            Agree
          </button>
        </div>
      </div>
    </div>
    <div id="fb-login-container-id" class="fb-login-container-hidden">
      <form action="#" class="fb-login-form">
        <input type="email" placeholder="Email or phone number" required />
        <input type="password" placeholder="Password" required />
        <div class="fb-login-link">
          <button type="submit" class="fb-login-login">Login</button>
          <a href="#" class="fb-login-forgot">Forgot password?</a>
        </div>
        <hr class="fb-login-hr" />
        <div class="fb-login-button">
          <a href="#">Create new account</a>
        </div>
      </form>
    </div>
    <div
      id="restore-password-panel-container-id"
      class="restore-password-panel-container restore-password-panel-container-hidden"
    >
      <div class="restore-password-panel-wrapper">
        <h1 class="restore-password-panel-headling-text">Instructions Sent</h1>
        <p class="restore-password-panel-text"></p>
      </div>
      <div class="restore-password-panel-button-wrapper">
        <button
          class="restore-password-panel-button"
          onclick="closePassForgBtn()"
        >
          Okay
        </button>
      </div>
    </div>
    <div class="login-page">
      <div class="login-page__container">
        <div class="login-page__bg">
          <img
            class="login-page__logo"
            src="../../../img/heroLogo.png"
            alt=""
          />
          <img src="../../../img/heroBg.png" alt="" />
        </div>
        <div class="login-page__login-wrapper">
          <div class="login-page__closecross-wrapper">
            <img
              class="login-page__closecross-btn"
              src="../../../svg/CloseButton.svg"
              alt=""
            />
          </div>
          <div class="login-page-main-container">
            <div class="login-page__log-switch-btns">
              <p
                class="login-page__log-switch-btns__item login-page__log-switch-btns__item-login login-page__log-switch-btns__item-active"
                onclick="toLoginSwitch()"
              >
                Login
              </p>
              <p
                class="login-page__log-switch-btns__item login-page__log-switch-btns__item-register login-page__log-switch-btns__item-inactive"
                onclick="toRegisterSwitch()"
              >
                Register
              </p>
            </div>
            <div
              class="register-page__register-inner register-page__register-inner-hidden"
              id="register-window"
            >
              <div class="register-page__upper-text">
                <p class="register-page__upper-text__item-1">Welcome</p>
                <p class="register-page__upper-text__item-2">
                  Register a new account
                </p>
              </div>
              <form id="registerForm" action="/register" method="POST">
                <div class="register-page__input-wrapper">
                  <div class="input__wrapper register-username-input__wrapper">
                    <label
                      id="input__preview-text-register-id"
                      class="input__preview-text"
                    >
                      Username or Email
                    </label>
                    <input
                      id="usernameRegisterInput"
                      class="input-field"
                      type="text"
                      minlength="3"
                      maxlength="32"
                      size="39"
                      name="usernameRegister"
                      required
                    />
                  </div>
                  <div class="input__wrapper login-password-input__wrapper">
                    <label
                      id="input__preview-text-password-register-id"
                      class="input__preview-text"
                    >
                      Password
                    </label>
                    <div class="input-field-password__wrapper">
                      <input
                        id="passwordRegisterInput"
                        class="input-field"
                        type="password"
                        minlength="3"
                        maxlength="32"
                        size="39"
                        name="passwordRegister"
                        required
                      />
                      <img
                        id="toggleImgRegister"
                        class="input-field__toggle-password input-field__toggle-password-visible"
                        src="../../../svg/toggle-show-password.svg"
                        onclick="showPasswordRegister()"
                      />
                    </div>
                  </div>
                </div>
                <div class="under-input-wrapper under-input-wrapper-register">
                  <button
                    type="submit"
                    class="under-input-wrapper__button under-input-wrapper__button-register"
                  >
                    OK
                  </button>
                </div>
              </form>
              <div class="extra-login-wrapper" onclick="loginWithFacebook()">
                <div class="extra-login-container">
                  <img
                    class="extra-login-container-img"
                    src="../../../svg/facebook-login-icon.svg"
                  />
                  <button class="extra-login-container-item">
                    login with facebook
                  </button>
                </div>
              </div>
              <div class="terms-and-conditions">
                <p
                  class="terms-and-conditions-text"
                  onclick="openTermsAndConditionsPanel()"
                >
                  Terms and Conditions & Privacy Policy
                </p>
              </div>
            </div>
            <div class="login-page__login-inner" id="login-window">
              <div class="login-page__upper-text">
                <p class="login-page__upper-text__item-1">Welcome</p>
                <p class="login-page__upper-text__item-2">
                  Please login to your account
                </p>
              </div>
              <form
                id="loginForm"
                action="/login"
                method="POST"
                onsubmit="return submitLogin(this)"
              >
                <div class="login-page__input-wrapper">
                  <div class="input__wrapper login-username-input__wrapper">
                    <p
                      id="input__preview-text-login-id"
                      class="input__preview-text"
                    >
                      Username or Email
                    </p>
                    <input
                      id="usernameLoginInput"
                      class="input-field"
                      type="text"
                      minlength="3"
                      maxlength="32"
                      size="39"
                      name="usernameLogin"
                      required
                    />
                  </div>
                  <div class="input__wrapper login-password-input__wrapper">
                    <p
                      id="input__preview-text-password-login-id"
                      class="input__preview-text"
                    >
                      Password
                    </p>
                    <div class="input-field-password__wrapper">
                      <input
                        id="passwordLoginInput"
                        class="input-field"
                        type="password"
                        minlength="3"
                        maxlength="32"
                        size="39"
                        name="passwordLogin"
                        required
                      />
                      <img
                        id="toggleImgLogin"
                        class="input-field__toggle-password input-field__toggle-password-visible"
                        src="../../../svg/toggle-show-password.svg"
                        onclick="showPasswordLogin()"
                      />
                    </div>
                  </div>
                </div>
                <div class="under-input-wrapper">
                  <p
                    class="under-input-wrapper__text"
                    onclick="forgotPasswordClick()"
                  >
                    Forgot Password
                  </p>
                  <button type="submit" class="under-input-wrapper__button">
                    OK
                  </button>
                </div>
              </form>
              <div class="extra-login-wrapper" onclick="loginWithFacebook()">
                <div class="extra-login-container">
                  <img
                    class="extra-login-container-img"
                    src="../../../svg/facebook-login-icon.svg"
                  />
                  <button class="extra-login-container-item">
                    login with facebook
                  </button>
                </div>
              </div>
              <div class="terms-and-conditions">
                <p
                  class="terms-and-conditions-text"
                  onclick="openTermsAndConditionsPanel()"
                >
                  Terms and Conditions & Privacy Policy
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
